.container {
    margin: 20px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .input {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .textarea {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .select {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .button {
    width: 100%;
    margin-top: 16px;
  }


  /* styles.css */
.sharp-modal .ant-modal-content {
  border-radius: 0 !important; /* Pour rendre les coins pointus */
  border: 1px solid #d9d9d9; /* Facultatif: ajouter une bordure */
}
.sharp-modal .ant-modal-header {
  border-radius: 0 !important; /* Pour rendre les coins du header pointus */
}
.sharp-modal .ant-modal-footer {
  border-radius: 0 !important; /* Pour rendre les coins du footer pointus */
}
